@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: orange;
    --black: #444;
    --bg: white;
    --btn-color: #666;
    --light-bg: #eee;
    --border-color: 1.5px solid rgba(0,0,0,.2);
    --box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

*{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body{
    background: var(--light-bg);
    overflow: hidden;
}

body.active{
    --black: white;
    --bg: #262626;
    --btn-color: white;
    --light-bg: #333;
    --light-color: #eee;
    --border-color: 1.5px solid rgba(255,255,255,.2);
    --box-shadow: 0 5px 10px rgba(0,0,0,.5)
}

#theme-open{
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 40px;
    color: var(--black);
    cursor: pointer;
    z-index: 10;
}

.themes-container{
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--bg);
    border-left: var(--border-color);
    height: 100vh;
    width: 350px;
    z-index: 1000;
    text-align: right;
    padding: 20px;
}

.themes-container.active{
    right: 0;
}

.themes-container #theme-close{
    font-size: 40px;
    color: var(--black);
    cursor: pointer;
}

.themes-container h3{
    text-align: center;
    text-transform: initial;
    color: var(--black);
    border-top: var(--border-color);
    border-bottom: var(--border-color);
    padding: 15px 0;
    margin: 20px 0;
}

.themes-container .theme-toggler{
    display: flex;
    align-items: center;
    justify-content: center;
}

.themes-container .theme-toggler span{
    color: var(--light-color);
}

.themes-container .theme-toggler .toggler{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background: var(--light-bg);
    position: relative;
    cursor: pointer;
    border: var(--border-color);
    margin: 0 10px;
}

.themes-container .theme-toggler .toggler::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: var(--btn-color);
    transition: .2s linear;
}

.themes-container .theme-toggler.active .toggler::before{
    left: 65px;
}

.themes-container .theme-colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.themes-container .theme-colors .color{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.themes-container .theme-colors .color:hover{
    opacity: .5;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    margin: 10px;
    min-height: 100vh;
}

.container .content{
    background: var(--bg);
    border-radius: 5px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border: var(--border-color);
    text-align: center;
    width: 400px;
}

.container .content img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container .content h3{
    color: var(--black);
    font-size: 25px;
}

.container .content p{
    color: var(--light-color);
    font-size: 20px;
    font-weight: bold;
    text-transform: initial;
    line-height: 2;
    padding: 11px 0;
}

.container .content p span{
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    text-transform: initial;
    line-height: 2;
    padding: 11px 0;
}

.container .content .btn{
    margin-top: 10px;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 30px;
    color: var(--bg);
    background: var(--main-color);
    font-size: 18px;
}

.container .content .btn:hover{
    opacity: .8;
    letter-spacing: 1.5px;
}
